<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.nucleus.grade</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/adamblair/Documents/nucleus/.venv/bin/python</string>
    <string>-m</string>
    <string>nucleus.grade</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/adamblair/Documents/nucleus</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/Users/adamblair/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    <key>HOME</key>
    <string>/Users/adamblair</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>6</integer>
    <key>Minute</key>
    <integer>30</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/adamblair/Library/Application Support/nucleus/grade.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/adamblair/Library/Application Support/nucleus/grade-error.log</string>
</dict>
</plist>
